{% extends 'templates_front/baseBotInterface.html.twig' %}

{% block body %}
    <section class="parallax" id="par-about-me">
        <div class="container text-center">
            <p class="flow-text text-center wow fadeIn">
                TOUT CE PASSE ICI
            </p>
            <div class="space-30"></div>
            <div class="container container-small">
                <div class="row wow fadeIn">
                    <div class="col-md-6">
                        <div class="testimonial-card z-depth-1">
                            <div class="card-up cyan darken-4">
                            </div>
                            <div class="card-content">
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="testimonial-card z-depth-1">
                            <div class="card-up default-color-dark">
                            </div>
                            <div class="card-content">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}