{% extends 'back/base.html.twig' %}

{% block body %}
    <h2>Dashboard</h2>
    <div class="list-menu">
        <div class="list d-flex">
            <h3>Créer son Bot</h3>
        </div>
    </div>
    <!--Deep-orange-->
    <button type="button" class="btn btn-deep-orange"><i class="fa fa-plus"></i>  Créer son bot</button>
{% endblock %}